@use '@scss/global/functions' as *;
@use '@scss/global/mixins' as m;

@container stats (width > #{em(568)}) {

    .hero {

        &__stats {
            flex-direction: row;
            justify-content: center;
            column-gap: fluid(16, 120, 568, 768);
        }
    }
}

@media (width > em(768)) {
    
    .header {
        padding-inline: fluid(40, 165, 768, 1440);
        padding-block-start: fluid(40, 50, 768, 1440);
    }
    
    .hero {
        padding-inline-start: fluid(40, 165, 768, 1440);
        padding-inline-end: fluid(40, 165, 768, 1440);
        
        &__decor {
            transform: translateX(fluid(230, 290, 768, 1440));
            inline-size: fluid(231, 287, 768, 1440, rem);
            block-size: fluid(29, 36, 768, 1440, rem);
        }

        &__container {
            flex-direction: row;
            position: relative;
        }
        
        &__content {
            inline-size: fluid(488.6, 632.48, 768, 1440);
            padding-block-start: fluid(42.68, 45.68, 768, 1440);
            padding-block-end: fluid(40, 92, 768, 1440);
            row-gap: fluid(16.32, 21.32, 768, 1440);
        }
        
        &__title {
            font-size: var(--fs-h1-desktop);
            line-height: var(--lh-h1-desktop);
            letter-spacing: var(--ls-h1-tab);
        }
        
        &__desc {
            margin-block-end: fluid(0, 12, 768, 1440);
            font-size: var(--fs-body-text-main);
            line-height: var(--lh-body-text-main);
        }
        
        &__img {
            inline-size: fluid(281, 350, 768, 1440, rem);
            block-size: fluid(482, 600, 768, 1440, rem);
            position: absolute;
            z-index: -1;
            margin-inline-start: -80px;
        }
    }
    
    .review {
        position: absolute;
        inset-inline-start: 0;
        inset-inline-end: 0;
    }
    
    .footer {
        display: block;
        margin-block-start: 493px;
        padding-block-start: 536px;
        padding-block-end: 72px;
        padding-inline: fluid(0, 40, 375, 768);
        
        &__container {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media (width > em(1210)) {

    main {
        position: relative;
    }

    .header {
        padding-block-end: 67px;
    }
    
    .hero {
        flex-direction: row;
        column-gap: fluid(200, 288, 1210, 1440);

        &__title {
            letter-spacing: var(--ls-h1-desk);
        }

        &__img {
            margin-inline-start: -158px;
        }

        &__stats {
            margin-block-start: 106px;
            flex-direction: column;
            justify-content: flex-start;
            row-gap: 63px;
        }
    }

    .review {
        text-align: start;
        max-inline-size: rem(1109);
        flex-direction: row;
        column-gap: 36px;
        justify-content: center;
        padding-inline: 0;
        padding-block: 0;
        margin-inline: auto;
        inset-block-end: -473px;
        
        &__img-wrapper {
            block-size: 545px;
            max-inline-size: 458px;
            background-position: 0px 60px;
        }
        
        &__img {
            inline-size: 359.8px;
            block-size: 589.5px;
            inset-block-start: -43px;
            inset-inline-start: 121px;
        }
        
        &__decor {
            inline-size: rem(64);
            block-size: rem(52);
            align-self: flex-start;
            margin-inline-end: 16.7px;
            margin-block-start: 161px;
        }
        
        &__content {
            align-self: stretch;
            padding-inline-end: 125px;
            padding-block-start: 87px;
            padding-block-end: 87px;
        }
        
        &__title {
            letter-spacing: var(--ls-h2-desk);
        }
        
        &__desc {
            max-inline-size: 33ch;
        }
        
        &__author-info {
            align-items: flex-start;
        }
    }

    .footer {
        margin-block-start: 479px;
        padding-block-start: 360px;
        padding-inline: fluid(50, 165, 1210, 1440);
    }
}