:root {
    --clr-primary: hsl(219, 43%, 16%);
    --clr-secondary: hsl(218, 20%, 36%);
    --clr-light-primary: hsl(30, 33%, 93%);
    --clr-light-secondary: hsl(30, 29%, 97%);
    --clr-btn-grad-start: hsl(264, 100%, 69%);
    --clr-btn-grad-mid: hsl(292, 76%, 54%);
    --clr-btn-grad-end: hsl(31, 100%, 65%);
}